<%= render './consumers/card', consumer: @consumer, manager: @manager, client: @client, style: 'energy' %>
<br>
<%= render './entab', active: 6 %>
<br>
<div class='row'>
    <div class='col'>
        <div class="card">
            <div class="card-header">
                Імпортувати погодинне споживання до кабінету:
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>