<% if @imported.size > 0 %>
	<h5>Список імпортованих споживачів:</h5>
	<% @imported.each do |item| %>
		<%= item %> <br />
	<% end %>
	<br />
<% end %>
<% if @not_imported.size > 0 %>
	<h5>Cпоживачі з таким ідентифікатором 1C та договором вже існують:</h5>
	<% @not_imported.each do |item| %>
		<%= item %> <br />
	<% end %>
<% end %>