<h5>Список імпортованих споживачів:</h5>
<% @imported.each do |item| %>
	<%= item %> <br />
<% end %>
<br />
<h5>Споживачі з таким ідентифікатором 1С вже існують:</h5>
<% @not_imported.each do |item| %>
	<%= item %> <br />
<% end %>