<%= render './consumers/card', consumer: @consumer, manager: @manager, client: @client, style: 'energy' %>
<br>
<%= render './entab', active: 8 %>
<br>
<p>Исходящих документов <%= @out_documents['documents'].size %></p>